{% extends 'index.html' %}


{% block main %}
<style>
ul {
 list-style-type: square;
 list-style-position: outside;
 list-style-image: none;
}
li
{
   font-size:18;
   font-family: Georgia,Times,Times New Roman,serif;
}
#test
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    font-family: "Times New Roman", Times, serif;
    color:#339999;
}

table{
    border-radius:10px;
    border: 1px solid black;
    position: center;
    margin-top:2em;
}

td, th {
    border-radius:10px;
    border: 1px solid black;
    position: center;
}

th {
    background-color: grey;
    color: white;
}


</style>

<h2><div id="test">
VNFD DESCRIPTION
</div>
</h2>

<li>A VNF Descriptor (VNFD) is a deployment template which describes a VNF in terms of deployment and operational
behaviour requirements.</li> 
<li>The VNFD also contains connectivity, interface and KPIs requirements that can be used by
NFV-MANO functional blocks to establish appropriate Virtual Links within the NFVI between VNFC instances, or
between a VNF instance and the endpoint interface to other Network Functions.</li>

<li>Connection Points of a VNF can be mapped to interfaces as described in ETSI GS NFV-SWA 001</li>

<table border="3" class="center">
<tr>
 <th width="30" height="10"><input type="checkbox"></th>
{% for t_value in table %}
<th>{{ t_value }}</th>
{% endfor %}
</tr>

{% for item1 in mylst %}
     <tr width="90" height="30">   
     <td width="30" height="10"><input type="checkbox"></td>
     {% for k, v in item1.items %}
         <td width="190" height="10">{{ v }}</td>
     
     {% endfor %}
  
     </tr>
{% endfor %}

</table>

<form action="onboard">
<div style="display: in-blocki;margin-top:2em;">
<input type="submit" value="ONBOARD VNFD" style=" float:left;height:40px;width:140px;margin-right:1em;margin-left:5em" id="checkoutbutton"></input>
<input type="reset" value="DELETE" style=" float:left;height:40px;width:140px" id="checkoutbutton"></input>
</div>
</form>


{% endblock %}


