<style>
#checkoutbutton {
  width: 200px;
  height: 40px;
  background-color: lightgray;
  moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 3px solid grey;
  padding: 6px;
}

#checkoutbutton:hover {opacity: 0.6; }

A:link {color: black; text-decoration:none}
A:visited {color: black; text-decoration:none}
A:hover {text-decoration:underline; opacity: 0.6; }
</style>
<div id="checkoutbutton"><p><a href="vnfd">VNFD</a></p><br></div>
<div id="checkoutbutton"><p><a href="vld">VLD</a></p><br></div>
<div id="checkoutbutton"><p><a href="nsd">NSD</a></p><br></div>
<div id="checkoutbutton"><p><a href="vnffgd">VNFFGD</a></p><br>
</div>
